# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code / JetBrains / IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
